@media screen and (min-width: 1440px) {
  .musicContentBoxBigBox {
    width: 100%;
    overflow: hidden;
  }

  .musicContentBox {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .musicContentBox__inBox {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .musicContentBox__Option {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
  }

  .musicContentBox__Option > span {
    display: inline-block;
    color: black;
    margin: 0px 0px 10px 0px;
    font-size: 18px;
    font-weight: 600;
    height: 30px;
    max-width: 260px;
    max-height: 40px;
  }

  .musicContentBox__Option > span:nth-of-type(1) {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0px;
    font-size: 30px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .musicContentBoxBigBox {
    width: 100%;
  }

  .musicContentBox {
    width: 94%;
    margin: 0 auto;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .musicContentBox__inBox {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
  }

  .musicContentBox__Option {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 60px;

    width: 100%;
  }

  .musicContentBox__Option > span {
    display: inline-block;
    color: black;
    margin: 0px 0px 10px 0px;
    font-size: 18px;
    font-weight: 600;
    height: 30px;
    max-width: 260px;
    max-height: 40px;
  }

  .musicContentBox__Option > span:nth-of-type(3) {
    position: absolute;
    left: 330px;
    font-size: 24px;

    display: flex;
    align-items: flex-end;
  }

  .musicContentBox__Option > span:nth-of-type(3)::after {
    font-size: 16px;

    content: "    300곡";
  }

  .musicContentBox__Option > span:nth-of-type(2) {
    position: absolute;
    display: flex;
    align-items: center;
    left: 84px;
    color: black;
  }

  .musicContentBox__Option > span:nth-of-type(1) {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0px;
  }

  .musicContentBox__Option > span:nth-of-type(3)::after {
    font-size: 16px;
  }
}

@media screen and (min-width: 964px) and (max-width: 1200px) {
  .musicContentBoxBigBox {
    width: 100%;
  }

  .musicContentBox {
    width: 94%;
    margin: 0 auto;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .musicContentBox__inBox {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
  }

  .musicContentBox__Option {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 60px;

    width: 100%;
  }

  .musicContentBox__Option > span {
    display: inline-block;
    color: black;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    max-width: 260px;
    max-height: 40px;
  }

  .musicContentBox__Option > span:nth-of-type(3) {
    position: absolute;
    left: 270px;
    font-size: 22px;
    display: flex;
    align-items: flex-end;
  }

  .musicContentBox__Option > span:nth-of-type(3)::after {
    font-size: 14px;
    content: "    300곡";
  }

  .musicContentBox__Option > span:nth-of-type(2) {
    position: absolute;
    display: flex;
    align-items: center;
    left: 78px;
    color: black;
  }

  .musicContentBox__Option > span:nth-of-type(1) {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0px;
  }

  .musicContentBox__Option > span:nth-of-type(3)::after {
    font-size: 16px;
  }
}

@media screen and (max-width: 964px) {
  .musicContentBoxBigBox {
    width: 100%;
  }

  .musicContentBox {
    width: 94%;
    margin: 0 auto;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .musicContentBox__inBox {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
  }

  .musicContentBox__Option {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 60px;

    width: 100%;
  }

  .musicContentBox__Option > span {
    display: inline-block;
    color: black;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    max-width: 260px;
    max-height: 40px;
  }

  .musicContentBox__Option > span:nth-of-type(3) {
    position: absolute;
    left: 180px;
    font-size: 22px;
    display: flex;
    align-items: flex-end;
  }

  .musicContentBox__Option > span:nth-of-type(3)::after {
    font-size: 14px;
    content: "    300곡";
  }

  .musicContentBox__Option > span:nth-of-type(2) {
    position: absolute;
    display: flex;
    align-items: center;
    left: 78px;
    color: black;
  }

  .musicContentBox__Option > span:nth-of-type(1) {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0px;
  }

  .musicContentBox__Option > span:nth-of-type(3)::after {
    font-size: 16px;
  }
}
