@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&family=Potta+One&display=swap");
@media screen and (min-width: 1440px) {
  .bigbody {
    z-index: -9999;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .wholeBody {
    margin: 0 auto;
    width: 1008px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .wholeBody {
    margin: 0 auto;
    width: 864px;
  }
}

@media screen and (min-width: 964px) and (max-width: 1200px) {
  .wholeBody {
    margin: 0 auto;
    width: 720px;
  }
}

@media screen and (max-width: 964px) {
  .wholeBody {
    margin: 0 auto;
    width: 578.4px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

nav {
  width: 100%;
  min-height: 50px;
  background-color: rgba(0, 0, 0);
}

header {
  min-height: 100px;
  width: 100%;
  padding-top: 50px;
}

.soundEffectCon {
  width: 94%;
  margin: 0 auto;
}

.subOptionBar {
  width: 100%;
  margin: 0 auto;
}

.subOptionBar > .subOptionBarConWidth {
  display: flex;
  width: 94%;
  margin: 0 auto;
  overflow-x: scroll;
}
