@media screen and (min-width: 1440px) {
  .EachCreatorMusicDiv {
    min-width: 143px;
    width: 143px;
    min-height: 143px;
    height: 143px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .EachCreatorMusicDiv > img {
    min-width: 143px;
    width: 143px;
    min-height: 143px;
    height: 143px;
  }
  .EachCreatorMusicDiv__inDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .EachCreatorMusicDiv__inDiv > span:nth-of-type(1) {
    color: black;
    width: 100%;
    height: 20px;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .EachCreatorMusicDiv__inDiv > span:nth-of-type(2) {
    padding: 4px;
    color: orange;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .EachCreatorMusicDiv {
    min-width: 125px;
    width: 125px;
    min-height: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .EachCreatorMusicDiv > img {
    min-width: 125px;
    width: 125px;
    min-height: 125px;
    height: 125px;
  }
  .EachCreatorMusicDiv__inDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .EachCreatorMusicDiv__inDiv > span:nth-of-type(1) {
    color: black;
    width: 100%;
    height: 20px;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .EachCreatorMusicDiv__inDiv > span:nth-of-type(2) {
    padding: 4px;
    color: orange;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
  }
}

@media screen and (min-width: 964px) and (max-width: 1200px) {
  .EachCreatorMusicDiv {
    min-width: 102px;
    width: 102px;
    min-height: 102px;
    height: 102px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .EachCreatorMusicDiv > img {
    min-width: 102px;
    width: 102px;
    min-height: 102px;
    height: 102px;
  }
  .EachCreatorMusicDiv__inDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .EachCreatorMusicDiv__inDiv > span:nth-of-type(1) {
    color: black;
    width: 100%;
    height: 20px;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .EachCreatorMusicDiv__inDiv > span:nth-of-type(2) {
    padding: 4px;
    color: orange;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
  }
}

@media screen and (max-width: 964px) {
  .EachCreatorMusicDiv {
    min-width: 170px;
    width: 170px;
    min-height: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .EachCreatorMusicDiv > img {
    min-width: 170px;
    width: 170px;
    min-height: 170px;
    height: 170px;
  }
  .EachCreatorMusicDiv__inDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .EachCreatorMusicDiv__inDiv > span:nth-of-type(1) {
    color: black;
    width: 100%;
    height: 20px;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .EachCreatorMusicDiv__inDiv > span:nth-of-type(2) {
    padding: 4px;
    color: orange;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
  }
}
