.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.introDiv {
  font-size: 26px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  width: 92%;

  color: black;
}

.storeOwn {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  width: 92%;
}
