@media screen and (min-width: 1440px) {
  .introCon {
    min-width: 1008px;
    min-height: 100px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .introCon {
    min-width: 864px;
    min-height: 100px;
    display: flex;
  }
}

@media screen and (min-width: 964px) and (max-width: 1200px) {
  .introCon {
    min-width: 720px;
    min-height: 100px;
    display: flex;
  }
}

@media screen and (max-width: 964px) {
  .introCon {
    min-width: 578.4px;
    display: flex;
  }
}

.introCon {
  width: 100%;
  min-height: 100px;
  display: flex;
}

.introCon > div {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introCon > div > p {
  font-size: 26px;
  font-weight: 300;
}

.introCon > div > span {
  display: block;
  width: 100%;
  margin-top: 10px;
  color: blue;
}

.drawUpCon {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 300;
}

.drawUp {
  display: flex;
  font-weight: 600;
  border: 1px solid orange;
  background-color: orange;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.drawUpCon_in1 {
  display: flex;
  justify-content: flex-end;
}

.drawUpCon_in2 {
  position: relative;
  display: flex;
  margin-left: 10px;
}

.drawUpCon_in3 {
  display: flex;
  justify-content: flex-start;
}

.drawUpCon_in3 > div {
  color: black;
  font-weight: 600;
}
